<div fxLayout="row" class="dashboard-h" fxLayoutAlign="space-between center">
  <div fxFlex="50%" fxFlex.gt-sm="25%">
    <h1>Pridaj pivo</h1>
  </div>
  <div fxFlex="50%" fxFlex.gt-sm="25%" fxLayoutAlign="center">
    <mat-checkbox *ngIf="!oneStep" (click)="oneStep = !oneStep">Jednokroková infúzia</mat-checkbox>
    <mat-checkbox *ngIf="oneStep" (click)="oneStep = !oneStep" [checked]="oneStep">Jednokroková infúzia</mat-checkbox>
  </div>
  <div fxFlex="100%" fxFlex.gt-sm="25%" fxLayoutAlign="flex-end">
    <a mat-raised-button routerLink="/">Spat na Dashboard</a>
  </div>
</div>
<form #beerForm="ngForm" (ngSubmit)="onSubmit(beerForm)">
    <mat-tab-group>
        <mat-tab label="Poznámky">
          <mat-form-field>
            <input matInput name="nazovPiva" placeholder="Názov piva" #beerNazovPiva="ngModel" [(ngModel)]="beer.nazovPiva" minlength="3" required>
            <mat-error *ngIf="beerNazovPiva?.errors?.minlength">
              Zadajte aspoň tri znaky
            </mat-error>
            <mat-error *ngIf="beerNazovPiva?.errors?.required">
              Povinné
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="mSladu" matInput placeholder="Hmotnosť sladu" #beerMSLadu="ngModel" [(ngModel)]="beer.mSladu" required>
            <mat-error *ngIf="beerMSLadu?.errors?.required">
              Povinné
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="vHlNalevu" matInput placeholder="Objem hlavného nálevu" #beerVHlNalevu="ngModel" [(ngModel)]="beer.vHlNalevu" required>
            <mat-error *ngIf="beerVHlNalevu?.errors?.required">
              Povinné
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="vystierka" matInput placeholder="Teplota vystierky" #beerVystierka="ngModel" [(ngModel)]="beer.vystierka" required>
            <mat-error *ngIf="beerVystierka?.errors?.required">
              Povinné
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="!oneStep">
            <input type="number" name="lowCarbTemp" matInput placeholder="Nižšia cukrotvorna teplota (&#946;)" #beerLowCarbTemp="ngModel" [(ngModel)]="beer.lowCarbTemp">
          </mat-form-field>
          <mat-form-field *ngIf="!oneStep">
            <input type="number" name="lowCarbTime" matInput placeholder="Nižšia cukrotvorna teplota - čas" #beerLowCarbTime="ngModel" [(ngModel)]="beer.lowCarbTime">
          </mat-form-field>
          <mat-form-field *ngIf="!oneStep">
            <input type="number" name="highCarbTemp" matInput placeholder="Vyššia cukrotvorna teplota (&#945;)" #beerHighCarbTemp="ngModel" [(ngModel)]="beer.highCarbTemp">
          </mat-form-field>
          <mat-form-field *ngIf="!oneStep">
            <input type="number" name="highCarbTime" matInput placeholder="Vyššia cukrotvorna teplota - čas" #beerHighCarbTime="ngModel" [(ngModel)]="beer.highCarbTime">
          </mat-form-field>
          <mat-form-field *ngIf="oneStep">
            <input type="number" name="oneStepTemp" matInput placeholder="Jednokrokova infuzia teplota" #beerOneStepTemp="ngModel" [(ngModel)]="beer.oneStepTemp">
          </mat-form-field>
          <mat-form-field *ngIf="oneStep">
            <input type="number" name="oneStepTime" matInput placeholder="Jednokrokova infuzia čas" #beerOneStepTime="ngModel" [(ngModel)]="beer.oneStepTime">
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="odRmutTemp" matInput placeholder="Odrmutovacia teplota" #beerOdRmutTemp="ngModel" [(ngModel)]="beer.odRmutTemp">
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="odRmutTime" matInput placeholder="Odrmutovacia teplota - čas" #beerOdRmutTime="ngModel" [(ngModel)]="beer.odRmutTime">
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="objemPredku" matInput placeholder="Objem predku" #beerObjemPredkue="ngModel" [(ngModel)]="beer.objemPredku">
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="objemVyslVody" matInput placeholder="Objem vysladzovacej vody" #beerObjemVyslVody="ngModel" [(ngModel)]="beer.objemVyslVody">
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="vPredChmel" matInput placeholder="Objem sladiny" #beerVPredChmel="ngModel" [(ngModel)]="beer.vPredChmel">
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="hSliadiny" matInput placeholder="Hustota sladiny (SG)" #beerHSliadiny="ngModel" [(ngModel)]="beer.hSliadiny">
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="chmelovar" matInput placeholder="Chmelovar (min)" #beerChmelovar="ngModel" [(ngModel)]="beer.chmelovar">
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="vMladiny" matInput placeholder="Objem mladiny (L)" #beerVMladiny="ngModel" [(ngModel)]="beer.vMladiny">
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="hMladiny" matInput placeholder="Hustota mladiny (SG)" #beerHMladiny="ngModel" [(ngModel)]="beer.hMladiny">
          </mat-form-field>
          <mat-form-field>
            <input type="number" name="fg"  matInput placeholder="Konečná hustota" #beerFG="ngModel" [(ngModel)]="beer.fg">
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Výpočty vody">
            <mat-form-field>
                <input type="number" name="pozOMladiny" matInput placeholder="Požadovaný objem mladiny" #beerPozOMladiny="ngModel" [(ngModel)]="beer.pozOMladiny">
            </mat-form-field>
            <mat-form-field>
                <input type="number" name="predOdpar" matInput placeholder="Predpokladaný odpar" #beerPredOdpar="ngModel" [(ngModel)]="beer.predOdpar">
            </mat-form-field>
            <mat-form-field>
                <input type="number" name="hRmutu" matInput placeholder="Hustota rmutu" #beerHRmutu="ngModel" [(ngModel)]="beer.hRmutu">
            </mat-form-field>
            <mat-form-field>
                <input type="number" name="predOSladiny" matInput placeholder="Predpokladaný objem sladiny" #beerPredOSladiny="ngModel" [(ngModel)]="beer.predOSladiny" readonly value="{{roundD(sladina(beer.pozOMladiny, beer.predOdpar))}}">
            </mat-form-field>
            <mat-form-field>
                <input type="number" name="predOHlNalevu" matInput placeholder="Predpokladaný objem hl. nálevu" #beerPredOHlNalevu="ngModel" [(ngModel)]="beer.predOHlNalevu" [value]="beer.hRmutu * beer.mSladu">
            </mat-form-field>
            <mat-form-field>
                <input id="predok" type="number" name="predOPredku" matInput placeholder="Predpokladaný objem predku" #beerPredOPredku="ngModel" [(ngModel)]="beer.predOHlNalevu">
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>
    <div class="button-s">
        <button mat-raised-button color="primary" type="submit">Ulož</button>
    </div>
</form>